<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>items</title>
  <style>
    .top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .top div {
      margin-right: 10px;
      border-bottom: 1px solid #999;
    }
    .top .num {
      width: 10%;
      text-align: center;
    }

    .top .title {
      width: 60%;
      text-align: center;
    }

    .top .writer {
      width: 10%;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="top">
    <div class="num">번호</div>
    <div class="title">제목</div>
    <div class="writer">작성자</div>
  </div>
</body>
</html>